<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}?v=5">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>Northwest trees</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 75%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
{#    <div class="row">#}
    <div id="map"></div>
{#    </div>#}
        <div class="row">
        <div>
            <p>
                Click on a <span style="color:red">red</span> balloon to see the chilling and forcing unit accumulations (whatever color they are)  leading to the possibility line (whatever color it is) for reproductive budburst.
            Note: it may take a while to download the weather data - be patient.
            </p>
        </div>
        </div>
    </div>
  </body>
<div>
  <footer class="card-footer bg-light footer-font-style text-muted footer-position">
      <div class="text-center">
          Source: <a href="https://github.com/tygarber/trees-notebook">Notebook</a> | <a href="https://github.com/tygarber/trees-flask">Application</a>
      </div>
  </footer>
</div>
</html>
    <script>
      var map;

      var locations = [
        {% if stations %}
            {%  for station in stations %}
                    ['{{station.id}}', {{station.latitude}}, {{station.longitude}}],
            {% endfor %}
        {% endif %}
      ];

      function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 7,
              center: new google.maps.LatLng(45.92, -122.25),
              mapTypeId: google.maps.MapTypeId.ROADMAP
          });

          var infowindow = new google.maps.InfoWindow();

          var marker, i;

          for (i = 0; i < locations.length; i++) {
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: map
              });

              google.maps.event.addListener(marker, 'click', (function (marker, i) {
                  return function () {
                      infowindow.setContent("" + "<img class=\"graph\" src=\"/graph.png?station_id=" + locations[i][0] + "\" height=\"400\" width=\"400\">");
                      infowindow.open(map, marker);
                  }
              })(marker, i));
          }
      }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_token }}&callback=initMap"
    async defer></script>
